<!DOCTYPE html>
<html>
    <head>
        <script defer src="/bundle.js"></script>
    </head>
    <body>
      <div>
        <h1>Axios GET</h1>
        <div>
          axios get request
          <input id="axiosGetBtn" type="button" value="get cats"/>
        </div>
        <div>
            axiox get method request
            <input id="axiosGetMethodBtn" type="button" value="use get method cats"/>
        </div>
        <div>
            axios get query request
            <input id="axiosGetQueryBtn" type="button" value="get cat sanji"/>
        </div>
      </div>
      <hr>
      <div>
          <h1>Axios POST</h1>
          <div>
            axios post request
            <input id="axiosPostBtn" type="button" value="post cats"/>
          </div>
          <div>
              axiox post method request
              <input id="axiosPostMethodBtn" type="button" value="use post method cats"/>
          </div>
        </div>
    </body>
</html>