<!DOCTYPE html>
<html>
    <head>
        <script defer src="/bundle.js"></script>
    </head>
    <body>
      <div>
        <h1>Axios GET</h1>
        <div>
          axios get request
          <input id="axiosGetBtn" type="button" value="get cats"/>
        </div>
        <div>
            axiox get method request
            <input id="axiosGetMethodBtn" type="button" value="use get method cats"/>
        </div>
        <div>
            axios get query request
            <input id="axiosGetQueryBtn" type="button" value="get cat sanji"/>
        </div>
      </div>
    </body>
</html>